*{
  padding:0;
  margin:0;
  box-sizing:border-box;
}

body{
  font-family: 'Rubik', sans-serif; 
  line-height:1;
  font-weight: 400;
  color:#555;
}


/***HEADER*****/
.container {
  /*1140px*/
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;

  align-items: center;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.heading-primary,
.heading-secondary{
  font-weight: 700;
  color: #333;
  /* color: #2e1907; */
  letter-spacing: -0.5px;

}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

.heading-tertiary{
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #e67e22;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
}


.header{
display:flex;
  justify-content: space-between;
    align-items: center;
    background-color: #fdf2e9;

    height: 9.6rem;
    padding: 0 4.8rem;
}
.logo{
  height: 2.4rem;
}
/*****************/
/***NAVIGATION****/
/*****************/

.main-nav-list{
  list-style:none;
  display:flex;
  align-items: center;
  gap:3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited{
  display:inline-block;
  text-decoration: none;
  color:#333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active{
  color: #cf711f;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited{
  padding: 1.2rem 2.4rem;
  border-radius:9px;
  color: #fff;
  background-color: #e67e22;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color:#cf711f;
}

/***HERO***/
.section-hero{
  background-color: #fae5d3;
  padding:4.8rem 0 9.6rem 0;
}



.btn:link, .btn:visited{
  display:inline-block;
  text-decoration: none;
  font-size: 2rem;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  transition: background-color 1s;
}

.btn--full:link,
.btn--full:visited{
  background-color:#e67e22;
  color:#fff;
}

.btn--full:hover,
.btn--full:active{
  background-color: #cf711f;
}

.btn--outline:link,
.btn--outline:visited {
  background-color: #fff;
  color: #555;
}

.btn--outline:hover,
.btn--outline:active {
  background-color: #fdf2e9;
  box-shadow: inset 0 0 0 3px #fff;
}

.margin-right-sm{
    margin-right: 1.6rem;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.hero-img {
  width: 100%;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.delivered-meals{
  display:flex;
  align-items:center;
  gap: 1.6rem;
  margin-top: 8rem;
}

.delivered-imgs{
  display:flex;
}

.delivered-imgs img{
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #fdf2e9;
}

.delivered-imgs img:last-child{
  margin: 0;
}

.delivered-text{
  font-size: 1.9rem;
  font-weight: 600;
}

.delivered-text span{
  color: #cf711f;
  font-weight: 700;
}

/***********************/
/* HOW IT WORKS SECTION */
/***********************/
.section-how{
  padding: 9.6rem 0;/*
  background-color: rgb(255, 166, 0); */
}

.step-number{
  font-size: 9.8rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}

.step-description{
  font-size: 1.8rem;
  line-height: 1.8;
}

.step-img-box{
  position: relative;
  display:flex;
  align-items:center;
  justify-content: center;
}

.step-img-box::after,
.step-img-box::before{
  content: " ";
  display: block;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.step-img-box::before{
  width: 60%;
  background-color: #fcae6e;
  padding-bottom: 60%;
  z-index: -2;
}

.step-img-box::after{
  width: 45%;
  padding-bottom: 45%;
  background-color: #f0c7a3;
  z-index: -1;
}

.step-img{
  width: 35%;
}



